@using ZayProject.Areas.Admin.Models.Slider
@model SliderUpdateVM

<div class="card shadow mb-4">
    <div class="card-header">
        <h4 class="card-title">Update Slider</h4>
    </div>
    <div class="card-body">
        <form method="post" asp-action="Update" asp-controller="Slider">
            <div class="form-group">
                <label asp-for="Title" class="form-label">Title</label>
                <input asp-for="Title" class="form-control" placeholder="Enter Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubTitle" class="form-label">SubTitle</label>
                <input asp-for="SubTitle" class="form-control" placeholder="Enter Subtitle" />
                <span asp-validation-for="SubTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="form-label">Description</label>
                <input asp-for="Description" class="form-control" placeholder="Enter Description" />
            </div>

            <div class="form-group">
                <label asp-for="PhotoPath" class="form-label">Image Path</label>
                <input asp-for="PhotoPath" class="form-control" placeholder="Enter Photo Path (URL or file path)" />
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
    <div class="card-footer text-center">
        <a class="btn btn-danger btn-lg" asp-action="Index" asp-controller="Slider">Back</a>
    </div>
</div>